<th>-->
    <!--                                                <div class="list-inline">-->
    <!--                                                    <form>-->
    <!--                                                        <button type="submit" class="btn btn-primary"-->
    <!--                                                                data-toggle="modal"-->
    <!--                                                                data-target="#editUser"-->
    <!--                                                                th:action="@{admin/edit/{id}}"-->
    <!--                                                                th:method="POST"-->
    <!--                                                                id="editUser"-->
    <!--                                                        >Edit-->
    <!--                                                        </button>-->
    <!--                                                        &lt;!&ndash;Button edit &ndash;&gt;-->
    <!--                                                        <div class="modal fade" id="editUser"-->
    <!--                                                             tabindex="-1"-->
    <!--                                                             role="dialog" aria-labelledby="editModalLabel"-->
    <!--                                                             aria-hidden="true">-->
    <!--                                                            <div class="modal-dialog">-->
    <!--                                                                <div class="modal-content">-->
    <!--                                                                    <div class="modal-header">-->
    <!--                                                                        <h5 class="modal-title" id="editModalLabel">-->
    <!--                                                                            Edit User-->
    <!--                                                                        </h5>-->
    <!--                                                                        <button type="button" class="close"-->
    <!--                                                                                data-dismiss="modal" aria-label="Close">-->
    <!--                                                                            <span aria-hidden="true">&times;</span>-->
    <!--                                                                        </button>-->
    <!--                                                                    </div>-->
    <!--                                                                    <div class="modal-body">-->

    <!--                                                                        <div class="form-group   text-center">-->
    <!--                                                                            <label for="id">-->
    <!--                                                                                <b>ID</b>-->
    <!--                                                                            </label><input type="text"-->
    <!--                                                                                           th:name="id"-->
    <!--                                                                                           th:value="*{user.getId()}"-->
    <!--                                                                                           id="id"-->
    <!--                                                                                           class="form-control"-->
    <!--                                                                                           readonly/>-->
    <!--                                                                        </div>-->
    <!--                                                                        <div class="form-group  text-center">-->
    <!--                                                                            <label for="editUserName">-->
    <!--                                                                                <b>UserName</b>-->
    <!--                                                                            </label><input type="text"-->
    <!--                                                                                           th:name="username"-->
    <!--                                                                                           th:value="*{user.getUsername()}"-->
    <!--                                                                                           id="editUserName"-->
    <!--                                                                                           class="form-control"/>-->
    <!--                                                                        </div>-->
    <!--                                                                        <div class="form-group  text-center">-->
    <!--                                                                            <label for="editAge">-->
    <!--                                                                                <b>Age</b>-->
    <!--                                                                            </label><input type="text"-->
    <!--                                                                                           th:name="age"-->
    <!--                                                                                           th:value="*{user.getAge()}"-->
    <!--                                                                                           id="editAge"-->
    <!--                                                                                           class="form-control"/>-->
    <!--                                                                        </div>-->
    <!--                                                                        <div class="form-group text-center">-->
    <!--                                                                            <label for="editPassword">-->
    <!--                                                                                <b>Password</b>-->
    <!--                                                                            </label><input type="text"-->
    <!--                                                                                           th:name="password"-->
    <!--                                                                                           th:value="*{user.password}"-->
    <!--                                                                                           id="editPassword"-->
    <!--                                                                                           class="form-control"/>-->
    <!--                                                                        </div>-->
    <!--                                                                        <select class="form-select text-center col"-->
    <!--                                                                                size="2"-->
    <!--                                                                                multiple-->
    <!--                                                                                aria-label=" multiple select example"-->
    <!--                                                                                th:value="*{user.getRoles()}"-->
    <!--                                                                                th:name="roles" readonly>-->
    <!--                                                                            <option th:each="role : ${allRoles}"-->
    <!--                                                                                    name="roles"-->
    <!--                                                                                    id="editRoles"-->
    <!--                                                                                    th:text="${role.name}"-->
    <!--                                                                                    th:value="${role.id}">-->
    <!--                                                                            </option>-->
    <!--                                                                        </select>-->

    <!--                                                                    </div>-->
    <!--                                                                    <div class="modal-footer">-->
    <!--                                                                        <button type="button" class="btn btn-secondary"-->
    <!--                                                                                data-dismiss="modal">Close-->
    <!--                                                                        </button>-->
    <!--                                                                        <button type="submit" class="btn btn-primary">-->
    <!--                                                                            Edit user-->
    <!--                                                                        </button>-->
    <!--                                                                    </div>-->
    <!--                                                                </div>-->
    <!--                                                            </div>-->
    <!--                                                        </div>-->
    <!--                                                    </form>-->
    <!--                                                    &lt;!&ndash;Button Delete&ndash;&gt;-->
    <!--                                                    <div>-->
    <!--                                                        <form>-->
    <!--                                                            <button type="button" class="btn btn-danger id"-->
    <!--                                                                    data-toggle="modal"-->
    <!--                                                                    data-target="#deleteUser"-->
    <!--                                                                    th:action="@{admin/{id}}"-->
    <!--                                                                    th:method="GET"-->
    <!--                                                            >Delete-->
    <!--                                                            </button>-->
    <!--                                                            &lt;!&ndash;Button delete &ndash;&gt;-->
    <!--                                                            <div class="modal fade" id="deleteUser"-->
    <!--                                                                 tabindex="-1"-->
    <!--                                                                 role="dialog" aria-labelledby="editModalLabel"-->
    <!--                                                                 aria-hidden="true">-->
    <!--                                                                <div class="modal-dialog">-->
    <!--                                                                    <div class="modal-content">-->
    <!--                                                                        <div class="modal-header">-->
    <!--                                                                            <h5 class="modal-title"-->
    <!--                                                                                id="deleteModalLabel">-->
    <!--                                                                                Delete User-->
    <!--                                                                            </h5>-->
    <!--                                                                            <button type="button" class="close"-->
    <!--                                                                                    data-dismiss="modal"-->
    <!--                                                                                    aria-label="Close">-->
    <!--                                                                                <span aria-hidden="true">&times;</span>-->
    <!--                                                                            </button>-->
    <!--                                                                        </div>-->
    <!--                                                                        <div class="modal-body">-->

    <!--                                                                            <div class="form-group   text-center">-->
    <!--                                                                                <label for="deleteid">-->
    <!--                                                                                    <b>ID</b>-->
    <!--                                                                                </label><input type="text"-->
    <!--                                                                                               th:name="id"-->
    <!--                                                                                               th:value="*{user.getId()}"-->
    <!--                                                                                               id="deleteid"-->
    <!--                                                                                               class="form-control"-->
    <!--                                                                                               readonly/>-->
    <!--                                                                            </div>-->
    <!--                                                                            <div class="form-group  text-center">-->
    <!--                                                                                <label for="deleteUserName">-->
    <!--                                                                                    <b>UserName</b>-->
    <!--                                                                                </label><input type="text"-->
    <!--                                                                                               th:name="username"-->
    <!--                                                                                               th:value="*{user.getUsername()}"-->
    <!--                                                                                               id="deleteUserName"-->
    <!--                                                                                               class="form-control"-->
    <!--                                                                                               readonly/>-->
    <!--                                                                            </div>-->
    <!--                                                                            <div class="form-group  text-center">-->
    <!--                                                                                <label for="deleteAge">-->
    <!--                                                                                    <b>Age</b>-->
    <!--                                                                                </label><input type="text"-->
    <!--                                                                                               th:name="age"-->
    <!--                                                                                               th:value="*{user.getAge()}"-->
    <!--                                                                                               id="deleteAge"-->
    <!--                                                                                               class="form-control"-->
    <!--                                                                                               readonly/>-->
    <!--                                                                            </div>-->
    <!--                                                                            <div class="form-group text-center">-->
    <!--                                                                                <label for="deletePassword">-->
    <!--                                                                                    <b>Password</b>-->
    <!--                                                                                </label><input type="text"-->
    <!--                                                                                               th:name="password"-->
    <!--                                                                                               th:value="*{user.getPassword()}"-->
    <!--                                                                                               id="deletePassword"-->
    <!--                                                                                               class="form-control"-->
    <!--                                                                                               readonly/>-->
    <!--                                                                            </div>-->
    <!--                                                                            <select class="form-select text-center col"-->
    <!--                                                                                    size="2"-->
    <!--                                                                                    multiple-->
    <!--                                                                                    aria-label=" multiple select example"-->
    <!--                                                                                    th:value="*{user.getRoles()}"-->
    <!--                                                                                    th:name="roles">-->
    <!--                                                                                <option th:each="role : ${allRoles}"-->
    <!--                                                                                        name="roles"-->
    <!--                                                                                        id="dedleteRoles"-->
    <!--                                                                                        th:text="${role.name}"-->
    <!--                                                                                        th:value="${role.id}">-->
    <!--                                                                                </option>-->
    <!--                                                                            </select>-->

    <!--                                                                        </div>-->
    <!--                                                                        <div class="modal-footer">-->
    <!--                                                                            <button type="button"-->
    <!--                                                                                    class="btn btn-secondary"-->
    <!--                                                                                    data-dismiss="modal">Close-->
    <!--                                                                            </button>-->
    <!--                                                                            <button type="submit"-->
    <!--                                                                                    class="btn btn-danger">Delete-->
    <!--                                                                            </button>-->
    <!--                                                                        </div>-->
    <!--                                                                    </div>-->
    <!--                                                                </div>-->
    <!--                                                            </div>-->
    <!--                                                        </form>-->
    <!--                                                    </div>-->
    <!--                                                </div>-->
    <!--                                            </th>